
#container{
    max-width: 1000px;
    width:95%;
    margin:150px auto;
    border:5px solid blue;
    background-color: rgba(0,0,255,0.2);
    height: 500px;
    z-index: 100;
    position: relative;
}
#container div{
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: 100px;
    height: 100px;
    background-color: rgba(0,255,0,0.5);
    z-index: 1;
    border: 5px solid green;
}
p{
    line-height: 3;
    margin: 100px;
}
#fent{
   
    height: 100px;
    border: 5px solid red;
    background-color: rgba(255,0,0,0.5);
    position: sticky;
    top:0;
    left: 0;
    right: 0;
}